.navbar{

background:#0A0A3E;

padding:18px 60px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 5px 18px rgba(0,0,0,.18);

}

.logo{

font-size:30px;

font-weight:700;

color:white;

}

.nav-links{

display:flex;

gap:35px;

}

.nav-links a{

text-decoration:none;

color:white;

font-size:18px;

font-weight:500;

transition:.3s;

position:relative;

}

.nav-links a:hover{

color:#F3C677;

}

.nav-links a::after{

content:"";

position:absolute;

left:0;

bottom:-6px;

width:0;

height:3px;

background:#F9564F;

transition:.3s;

}

.nav-links a:hover::after{

width:100%;

}